<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="en-es">

<head>
    <!-- Codificación de caracteres para el documento -->
    <meta charset="utf-8">
    <!-- Título del documento -->
    <title>Renueva</title>
    <!-- Optimización de la página web para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon title -->
    <link type="image/png" rel="icon" href="../../resources/img/Logo/LogoFavIcon.png">
    <!-- css files-->
    <link rel="stylesheet" href="../../resources/general/css/materialize.min.css">
    <link rel="stylesheet" href="../../resources/css/public/style_public.css">
</head>

<body class="body-article">

    <main class="container-article">    
            <!--contiene el color de fondo -->
        <div class="product-detail">
            <!-- detalle tiene margen -->
            <div class="detail">
                <div id="image">
                    <img src="../../api/images/products/6440871b2fc25.jpg" alt="" srcset="">
                </div>
                <div id="detail">
                    <span>Producto</span>
                    <span>Precio</span>
                    <span>Descripción</span>
                    <span>Category</span>
                </div>
                <div class="order">
                    <span>contador</span>
                    <span>agragar</span>
                </div>
            </div>
        </div>
    </main>


    <!-- Importación de archivos JavaScript -->
    <script type="text/javascript" src="../../resources/general/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../controllers/public/home.js"></script>
</body>

</html>