<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="../../resources/general/fonts/fonts.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/general/css/materialize.min.css"
        media="screen,projection" />
    <!--title-->
    <title>Renueva</title>
    <!--Icon title-->
    <link rel="shortcut icon" href="../../resources/img/Logo/LogoFavIcon.png" type="image/x-icon">
    <!--css archive-->
    <link rel="stylesheet" href="../../resources/css/private/style_private.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
</head>

<body class="body">
    <main class="dashboard">
        <!--component render sidebar-->
        <div id="slidebar-main-container"></div>
        <!--template container, this component save main, and this have margin to view web-->
        <div class="template-main-container">
            <!--content-container, this component have border radius-->
            <div class="content-container">
                <div class="main-content">
                    <div class="search">
                        <!--component render search input-->
                        <div class="search-container" id="search-container"></div>
                    </div>
                    <!--dashboard container-->
                    <div class="staffs-container">
                        <!--component render-->
                        <div id="more-actions"></div>
                        <div id="msg"></div>
                        <div class="table-container">
                            <table class="table table-responsive">
                                <thead class="">                                    
                                    <tr>
                                        <th class="hide">ID Review</th>
                                        <th class="hide">ID Detail</th>
                                        <th class="hide">ID Product</th>
                                        <th class="hide">ID Order</th>
                                        <th>Username</th>
                                        <th>Product</th>
                                        <th class="comment-col">Comment</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal Structure -->
    <div id="modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <form method="post" id="form-client">

                <!-- Select Document -->
                <div class="row">
                    <div class="input-field col s12">
                        <select name="documents" id="documents"></select>
                        <label for="documents">Document</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="names" id="names" readonly>
                        <label for="names">Names</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="lastnames" id="lastnames" readonly>
                        <label for="lastnames">Lastnames</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" name="username" id="username" readonly>
                        <label for="username">Username</label>
                    </div>
                </div>
            </form>
            <!--form to save or update user data-->
            <form method="post" id="form-review">

                <!-- ID Detail -->
                <input class="hide" type="number" name="iddetail" id="iddetail">
                <label class="hide" for="iddetail">ID Detail</label>

                <!-- ID Product -->
                <input class="hide" type="number" name="idproduct" id="idproduct">
                <label class="hide" for="idproduct">ID Product</label>

                <!-- ID Review -->
                <input class="hide" type="number" name="idreview" id="idreview">
                <label class="hide" for="idreview">ID Review</label>

                <!-- ID Client -->
                <input type="number" name="idclient" id="idclient" class="hide">
                <label class="hide" for="idclient">ID Client</label>
                <!-- Comment -->
                <div class="row">
                    <div class="input-field col s12">
                        <input name="comment" id="comment" type="text" class="validate" required>
                        <label for="comment">Comment</label>
                    </div>
                </div>

                <!-- Select Product -->
                <div class="row">
                    <div class="input-field col s12">
                        <select name="products" id="products"></select>
                        <label for="products">Product</label>
                    </div>
                </div>

                <!-- Select No.Order -->
                <div class="row">
                    <div class="input-field col s12">
                        <select name="orders" id="orders"></select>
                        <label for="orders">No. Order</label>
                    </div>
                </div>


                <div class="modal-footer" id="modal-user">
                    <button type="reset" class="modal-close waves-effect waves-green btn-flat btn-danger">Cancel</button>
                    <button type="submit" class="modal-close waves-effect waves-green btn-flat btn-succes">
                        <div class="hide">a</div>
                        <span id="process"></span>
                    </button>
                </div>

            </form>

        </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../resources/general/js/materialize.min.js"></script>
    <!--controlador sweet alert-->
    <script src="../../resources/general/js/sweetalert.min.js"></script>
    <!--modal script-->
    <script src="../../controllers/private/modal_init.js"></script>
    <!--controlador generalß-->
    <script src="../../controllers/controller.js"></script>
    <!-- search input -->
    <script src="../../controllers/private/form-search.js"></script>
    <!--controlador para reviews-->
    <script src="../../controllers/private/review.js"></script>
    <!--JavaScript to render some content-->
    <script type="text/javascript" src="../../controllers/private/render.js"></script>
</body>

</html>