<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="../../resources/general/fonts/fonts.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/general/css/materialize.min.css"
        media="screen,projection" />
    <!--title-->
    <title>Renueva</title>
    <!--Icon title-->
    <link rel="shortcut icon" href="../../resources/img/Logo/LogoFavIcon.png" type="image/x-icon">
    <!--css archive-->
    <link rel="stylesheet" href="../../resources/css/private/style_private.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
</head>

<body class="body">
    <main class="dashboard">
        <!--component render sidebar-->
        <div id="slidebar-main-container"></div>
        <!--template container, this component save main, and this have margin to view web-->
        <div class="template-main-container">
            <!--content-container, this component have border radius-->
            <div class="content-container">
                <div class="main-content">
                    <div class="search">
                        <!--component render search input-->
                        <div class="search-container" id="search-container"></div>
                    </div>
                    <!--dashboard container-->
                    <div class="staffs-container">
                        <!--component render-->
                        <div id="more-actions"></div>
                        <div class="table-container">
                            <table class="table table-responsive">
                                <thead class="">
                                    <tr>
                                        <th>Names</th>
                                        <th>Lastnames</th>
                                        <th>Document</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>José</td>
                                        <td>Alvarado</td>
                                        <td>8454156-4</td>
                                        <td>7841-0061</td>
                                        <td>JoséAlvarado@gmail.com</td>
                                        <td class="action-col">
                                            <!--modifidy buttom-->
                                            <svg width="26" height="25" viewBox="0 0 34 33" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M15.0215 1.91666H12.0468C4.60998 1.91666 1.63525 4.83332 1.63525 12.125V20.875C1.63525 28.1667 4.60998 31.0833 12.0468 31.0833H20.971C28.4078 31.0833 31.3825 28.1667 31.3825 20.875V17.9583"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M22.5177 3.40417L10.7973 14.8958C10.3511 15.3333 9.90489 16.1937 9.81565 16.8208L9.17609 21.2104C8.93811 22.8 10.0834 23.9083 11.7046 23.6896L16.1816 23.0625C16.8063 22.975 17.6838 22.5375 18.1449 22.1L29.8653 10.6083C31.8881 8.625 32.84 6.32084 29.8653 3.40417C26.8906 0.487502 24.5405 1.42084 22.5177 3.40417Z"
                                                    stroke="#424242" stroke-width="3" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M20.8372 5.05191C21.8337 8.53733 24.6151 11.2644 28.1847 12.2561"
                                                    stroke="#424242" stroke-width="3" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                            <!--trash buttom-->
                                            <svg width="22" height="25" viewBox="0 0 30 33" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M28.4432 7.7208C23.4903 7.23955 18.5076 6.99164 13.5398 6.99164C10.5948 6.99164 7.64985 7.13747 4.70487 7.42914L1.67065 7.7208"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M9.85107 6.24791L10.1783 4.33749C10.4163 2.95207 10.5948 1.91666 13.1084 1.91666H17.0053C19.5189 1.91666 19.7123 3.01041 19.9354 4.35207L20.2626 6.24791"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M25.2452 12.3292L24.2784 27.0146C24.1148 29.3041 23.981 31.0833 19.8312 31.0833H10.2824C6.13267 31.0833 5.9988 29.3041 5.83519 27.0146L4.86841 12.3292"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M12.573 23.0625H17.5259" stroke="#424242" stroke-width="3"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M11.3386 17.2292H18.7754" stroke="#424242" stroke-width="3"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>José</td>
                                        <td>Alvarado</td>
                                        <td>8454156-4</td>
                                        <td>7841-0061</td>
                                        <td>JoséAlvarado@gmail.com</td>
                                        <td class="action-col">
                                            <!--modifidy buttom-->
                                            <svg width="26" height="25" viewBox="0 0 34 33" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M15.0215 1.91666H12.0468C4.60998 1.91666 1.63525 4.83332 1.63525 12.125V20.875C1.63525 28.1667 4.60998 31.0833 12.0468 31.0833H20.971C28.4078 31.0833 31.3825 28.1667 31.3825 20.875V17.9583"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M22.5177 3.40417L10.7973 14.8958C10.3511 15.3333 9.90489 16.1937 9.81565 16.8208L9.17609 21.2104C8.93811 22.8 10.0834 23.9083 11.7046 23.6896L16.1816 23.0625C16.8063 22.975 17.6838 22.5375 18.1449 22.1L29.8653 10.6083C31.8881 8.625 32.84 6.32084 29.8653 3.40417C26.8906 0.487502 24.5405 1.42084 22.5177 3.40417Z"
                                                    stroke="#424242" stroke-width="3" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M20.8372 5.05191C21.8337 8.53733 24.6151 11.2644 28.1847 12.2561"
                                                    stroke="#424242" stroke-width="3" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                            <!--trash buttom-->
                                            <svg width="22" height="25" viewBox="0 0 30 33" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M28.4432 7.7208C23.4903 7.23955 18.5076 6.99164 13.5398 6.99164C10.5948 6.99164 7.64985 7.13747 4.70487 7.42914L1.67065 7.7208"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M9.85107 6.24791L10.1783 4.33749C10.4163 2.95207 10.5948 1.91666 13.1084 1.91666H17.0053C19.5189 1.91666 19.7123 3.01041 19.9354 4.35207L20.2626 6.24791"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M25.2452 12.3292L24.2784 27.0146C24.1148 29.3041 23.981 31.0833 19.8312 31.0833H10.2824C6.13267 31.0833 5.9988 29.3041 5.83519 27.0146L4.86841 12.3292"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M12.573 23.0625H17.5259" stroke="#424242" stroke-width="3"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M11.3386 17.2292H18.7754" stroke="#424242" stroke-width="3"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>José</td>
                                        <td>Alvarado</td>
                                        <td>8454156-4</td>
                                        <td>7841-0061</td>
                                        <td>JoséAlvarado@gmail.com</td>
                                        <td class="action-col">
                                            <!--modifidy buttom-->
                                            <svg width="26" height="25" viewBox="0 0 34 33" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M15.0215 1.91666H12.0468C4.60998 1.91666 1.63525 4.83332 1.63525 12.125V20.875C1.63525 28.1667 4.60998 31.0833 12.0468 31.0833H20.971C28.4078 31.0833 31.3825 28.1667 31.3825 20.875V17.9583"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M22.5177 3.40417L10.7973 14.8958C10.3511 15.3333 9.90489 16.1937 9.81565 16.8208L9.17609 21.2104C8.93811 22.8 10.0834 23.9083 11.7046 23.6896L16.1816 23.0625C16.8063 22.975 17.6838 22.5375 18.1449 22.1L29.8653 10.6083C31.8881 8.625 32.84 6.32084 29.8653 3.40417C26.8906 0.487502 24.5405 1.42084 22.5177 3.40417Z"
                                                    stroke="#424242" stroke-width="3" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M20.8372 5.05191C21.8337 8.53733 24.6151 11.2644 28.1847 12.2561"
                                                    stroke="#424242" stroke-width="3" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                            <!--trash buttom-->
                                            <svg width="22" height="25" viewBox="0 0 30 33" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M28.4432 7.7208C23.4903 7.23955 18.5076 6.99164 13.5398 6.99164C10.5948 6.99164 7.64985 7.13747 4.70487 7.42914L1.67065 7.7208"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M9.85107 6.24791L10.1783 4.33749C10.4163 2.95207 10.5948 1.91666 13.1084 1.91666H17.0053C19.5189 1.91666 19.7123 3.01041 19.9354 4.35207L20.2626 6.24791"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M25.2452 12.3292L24.2784 27.0146C24.1148 29.3041 23.981 31.0833 19.8312 31.0833H10.2824C6.13267 31.0833 5.9988 29.3041 5.83519 27.0146L4.86841 12.3292"
                                                    stroke="#424242" stroke-width="3" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M12.573 23.0625H17.5259" stroke="#424242" stroke-width="3"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M11.3386 17.2292H18.7754" stroke="#424242" stroke-width="3"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal Structure -->
    <div id="modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <form action="">

                <div class="row">
                    <div class="input-field col s6">
                        <input id="names" type="text" class="validate" required>
                        <label for="names">Names</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="Document" type="text" class="validate" required>
                        <label for="Document">Document</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="Phone" type="text" class="validate" required>
                        <label for="Phone">Phone Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat btn-danger">Cancel</a>
            <a class="modal-close waves-effect waves-green btn-flat btn-succes">Add</a>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../resources/general/js/materialize.min.js"></script>
    <!--JavaScript to render some components-->
    <script type="text/javascript" src="../../controllers/private/render.js"></script>
    <!--modal script-->
    <script src="../../controllers/private/modal_init.js"></script>
</body>

</html>