:root{
    --bg-color: #F7EFE5;
    --sec-color: #FCFCEB;
    --first-color: #FFFBF2;
    --dark-color: #42424242;
    --input-color: #6d6d6d;
    --button-color: #DCD3C3;
}
body{
    background-attachment: fixed;
    background-color: var(--bg-color);      
    height: 100vh;
    display: grid;
    place-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3px;
    width: 978px;
    height: 604px;
    background-color: var(--first-color);
    border-radius: 20px;
    /*box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);*/
    box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.5);
}
.main-form{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo{
    background-color: var(--sec-color);
}
img.logo-login{
    width: 330px;
    height: 170px;
    background-color: var(--sec-color);
}
.form{
    height: 100%;
    width: 50%;
    display: grid;
    place-content: center;
    margin: 0;
}
.logo-container{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: var(--sec-color);
    border-radius: 0 20px 20px 0;
}
.data{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.link-forgot{
    color: default;
}
input[type='text']:not(.browser-default){
    width: 368px;    
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--input-color);
  -webkit-box-shadow: 0 1px 0 0 var(--input-color);
          box-shadow: 0 1px 0 0 var(--input-color);
}
.content-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-button{
    color: var(--input-color);
    width: 125px;
    border-radius: 7px;
    height: 27px;
    border: 0.2mm solid var(--dark-color);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;    
    background-color: var(--sec-color);
}
.login-button:hover{
    background-color: var(--button-color);
}
.login-button:focus{
    background-color: var(--bg-color);

}
#Login-link{
    color: var(--dark-color);
}
.login-button:active{
    transform: scale(0.9);
}

.link-forgot{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*
 label color 
.input-field label {
    color: #000;
}

 label focus color 
.input-field input[type=text]:focus+label {
    color: #000;
}

 label underline focus color 
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

 valid color 
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

 invalid color 
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

 icon prefix focus color 
.input-field .prefix.active {
    color: #000;
}*/