* {
    --bg-color: #F7EFE5;
    --sec-color: #FCFCEB;
    --first-color: #FFFBF2;
}
body{
    background-attachment: fixed;
    background-color: var(--bg-color);    
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3px;
    width: 978px;
    height: 604px;
    background-color: var(--first-color);
    border-radius: 20px;
    /*box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);*/
    box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.5);
}
.logo{
    
    background-color: var(--sec-color);
}
img.logo-login{
    width: 330px;
    height: 170px;
    background-color: var(--sec-color);
}
.main-form{    
    height: 100%;
}
.logo-container{
    height: 100%;
    display: flex;
}
/*
 label color 
.input-field label {
    color: #000;
}

 label focus color 
.input-field input[type=text]:focus+label {
    color: #000;
}

 label underline focus color 
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

 valid color 
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

 invalid color 
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

 icon prefix focus color 
.input-field .prefix.active {
    color: #000;
}*/