:root{
    --input-color: #7a7a7a;
    --label-color: #4242;
    --valid-input-color: #424242;
}

input.valid[type=text]:not(.browser-default){
    border-bottom: 1px solid var(--valid-input-color);
    -webkit-box-shadow: 0 1px 0 0 var(--valid-input-color);
    box-shadow: 0 1px 0 0 var(--valid-input-color);
}

input[type=email]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid var(--input-color);
    -webkit-box-shadow: 0 1px 0 0 var(--input-color);
    box-shadow: 0 1px 0 0 var(--input-color);
}

input[type=email]:not(.browser-default):focus:not([redonly])+label{
    color: var(--input-color);
}
input.valid[type=email]:not(.browser-default){
    border-bottom: 1px solid var(--valid-input-color);
    -webkit-box-shadow: 0 1px 0 0 var(--valid-input-color);
    box-shadow: 0 1px 0 0 var(--valid-input-color);
}
input[placeholder="Search"]:not(.browser-default){
    margin: 0px;
    border-bottom: 0px;
}
input[placeholder="Search"]:not(.browser-default):focus:not([readonly]){
    border-bottom: 0px solid transparent;
    box-shadow: 0 0 0 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid var(--input-color);
    -webkit-box-shadow: 0 1px 0 0 var(--input-color);
    box-shadow: 0 1px 0 0 var(--input-color);
}

input[type=text]:not(.browser-default):focus:not([redonly])+label{
    color: var(--input-color);
}
input[type=number]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid var(--input-color);
    -webkit-box-shadow: 0 1px 0 0 var(--input-color);
    box-shadow: 0 1px 0 0 var(--input-color);
}

input[type=number]:not(.browser-default):focus:not([redonly])+label{
    color: var(--input-color);
}
